<!--
    This is the add recipe page
-->
{{> nav-block }}
 <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputRecipeName">Recipe Name</label>
                <input type="text" class="form-control" id="inputRecipeName" placeholder="Lemon Butter Shrimp Pasta" />
            </div>
            <div class="form-group col-md-6">
                <label for="inputUserName">Created by:</label>
                <input type="text" class="form-control" id="inputUserName" placeholder="KalaCANcook" />
            </div>
        </div>

    <!-- This may have to be created dynamically so that you keep adding more ingredients -->
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputAmount">Amount</label>
            <input type="text" class="form-control" id="inputAmount" placeholder="1.5" />
            <select id="inputMeasurement" class="form-row">
                <option selected></option>
                <option>Teaspoon(s)</option>
                <option>Tablespoon(s)</option>
                <option>Cup(s)</option>
                <option>Ounce(s)</option>
                <option>Pint(s)</option>
                <option>Quart(s)</option>
                <option>Gallon(s)</option>
                <option>Pound(s)</option>
            </select>
        </div>
        <div class="form-group col-md-8">
            <label for="inputIngredient">Ingredient</label>
            <input type="text" class="form-control" id="inputIngredient" placeholder="Butter" />
        </div>
    </div>
     <button type="submit" id="addIngredient" class="btn btn-primary">Add Ingredient!</button>
     <br>
     <hr>
     <div class="ingredientsInMe">
         <h5>Ingredients:</h5>

    </div>
    <br>
    <hr>
         <!-- This may have to be created dynamically so that you keep adding more ingredients -->
         
        <div class="form-group">
                <label for="inputInstructions">Instructions</label>
                <input type="text" class="form-control" id="inputInstructions" />
            </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputCook">Cook Time</label>
                <input type="text" class="form-control" id="inputCook" />
            </div>

            <div class="form-group col-md-2">
                <label for="inputPrep">Prep Time</label>
                <input type="text" class="form-control" id="inputPrep" />
            </div>
        </div>

        <button type="submit" id="recipe-form" class="btn btn-primary">
            Save Recipe!
        </button>
    </form>

<div class="modal fade" id="showMeTheModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">You added a Recipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Add Another</button>
     </div>
    </div>
  </div>
</div>

{{!-- 
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/script.js"></script> --}}

