<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputRecipe4">Recipe Name</label>
      <input type="text" class="form-control" id="inputRecipe4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputUser4">Created by:</label>
      <input type="text" class="form-control" id="inputUser4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAmount">Amount</label>
    <input type="text" class="form-control" id="inputAmount" placeholder="1234 Main St">
    <select id="inputAmount" class="form-control">
        <option selected>Choose...</option>
        <option>Teaspoon(s)</option>
        <option>Tablespoon(s)</option>
        <option>Cup(s)</option>
        <option>Ounce(s)</option>
        <option>Pint(s)</option>
        <option>Quart(s)</option>
        <option>Gallon(s)</option>
        <option>Pound(s)</option>
        <option>...</option>
    </select>
  </div>
  <div class="form-group">
    <label for="inputIngredient">Ingredient</label>
    <input type="text" class="form-control" id="inputIngredient" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputInstructions">Instructions</label>
      <input type="text" class="form-control" id="inputInstructions">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputCook">Cook Time</label>
      <input type="text" class="form-control" id="inputCook">
    </div>
  </div>
    <div class="form-group col-md-2">
      <label for="inputPrep">Prep Time</label>
      <input type="text" class="form-control" id="inputPrep">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add It!</button>
</form>