<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        {{!-- <a class="navbar-brand" href="#">Somerecipes<i class="fas fa-utensils"></i></a> --}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item home">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view-recipe">View Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add-recipe">Add Recipe</a>
                </li>
                {{!-- <li class="nav-item">
                <a class="nav-link" href="#blog">Blog</a>
            </li> --}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/login" id="logIn">
                        Login</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="btn-group">
                    <input class="form-control mr-sm-2" id="searchwhat" type="search" placeholder="Search"
                        aria-label="Search" />
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="searchRecipe" id="searchMe">
                        Search by
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only selection">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <li class="dropdown-item searchBtn" data-text="Search by User Name">Search by User Name
                        </li>
                        <li class="dropdown-item searchBtn" data-text="Search by Recipe Name">Search by Recipe Name
                        </li>
                        {{!-- <a class="dropdown-item" href="#"></a> --}}
                    </div>
                </div>

            </form>
        </div>
    </div>
</nav>