{{!-- <h1>Burgers!</h1> --}}
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4"></i>Somerecipes!</h1>
        <h3>Take a recipe or leave a recipe</h3>
    </div>

    <div class="row">
        <div class="col-6"></div>

        <div class="col-6"></div>
    </div>

    <div class="row">
        <div class="col"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<script type="text/javascript" src="/js/script.js"></script>