{{!-- <h1>Burgers!</h1> --}}
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4"></i>Somerecipes!</h1>
        <h3>Take a recipe or leave a recipe</h3>
    </div>

    <div class="row">
        <div class="col-6"></div>

        <div class="col-6"></div>
    </div>

    <div class="row">
        <div class="col"></div>
    </div>
</div>