<div class="container putAUserInMe">
<h1>{{user_name}}'s Recipes</h1>

<hr>
<ul>
    <!-- Use javascript to split the string by comma to post -->
    {{#each recipes}}
    <li>{{recipe_name}}</li>
    {{/each}}
</ul>
</div>